* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  direction: rtl;
}

body {
  font-size: 1.6rem;
}

.layout-children {
  min-height: 80vh;
}

.header-name{
  font-size: 1rem
}
.empty-basket{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.item-select{
  font-size: 2.5rem;
}